page-home-lista {
    .pesquisa-avancada{
        font-size: 20pt;
    }

    .resumo { 
        text-align: center; 
        margin-top: 5pt; 
        color:#E57373; 
        font-weight: bold; 
	}
    .externoNome{
		font-style: oblique;
		display: block;
		padding-right: 1pt;
	}

	#pacienteNome { display: block; font-size: 14pt; font-weight: bold;  color: #6D4C41; }
	#horarioCorpo, .horarioAgenda, .horarioAgenda table { display: block; width: 100%; }
	.horarioAgenda span { color: #6D4C41; font-weight: bold;}
	.horarioAgenda table td:first-child{ width: 70%; }
	.horarioAgenda table td:last-child span{ 
		display: block; 
		text-align: right; 
		padding: 2pt; 
		white-space: nowrap;
	}
	#agendaItem { padding: 5pt; width: 100%;}
	#horarioCorpo { 
		display: inline-block; 
		position: relative;
		border-left: 1.5pt solid #ddd; 
		min-height: 15pt;
		padding-left: 5pt;
		margin-left: -3%;
	}	
	#horarioCorpo.borda.OK { border-left: 2pt solid #488aff; }
	#horarioCorpo.borda.FALTOU { border-left: 2pt solid #a94442; }
	#horarioCorpo.borda.LIVRE { border-left: 2pt solid #33cd5f; }
	#horarioCorpo.borda.BLOQUEADO { border-left: 2pt solid #ddd; }

    .noResultsFound { display: block; }
    
    .telaprincipal{
        margin-bottom: 10pt;
    }
}
