page-externo-adicionar {
    #iconBack {margin-left: 10pt; font-size: 25px; display: inline-block}
    .error{
        color: #ff0000;
        font-size: 12px;
    }
    #listaTitulo{
        font-size: 1.4em;
        color: #26A69A;
		margin:10pt;
		text-indent: 15pt;
        font-weight: bold;
	}
}
