page-home-lista-detalhes {
    #iconBack {margin-left: 10pt; font-size: 25px; display: inline-block}
	p {		
		display: inline-block;
		word-wrap: break-word;
		hyphens: auto;
		color: #212121;
	}
	span.title {
		color: #004D40;
		font-weight: bold;
	}
	p.situacao{
		word-wrap: normal;
		hyphens: none;
	}
	p.titleObservacao{
		display: block;
		font-weight: bold;
	}
	p.observacao { font-size: small; font-style: italic;}

	table tr td .situacaoTexto { padding: 5pt; border-radius: 5pt; margin-right: 0pt; float: right; }
	#OK { border: 1pt solid #488aff; }
	#FALTOU { border: 1pt solid #a94442; }
	#LIVRE { border: 1pt solid #33cd5f; }
	#BLOQUEADO { border: 1pt solid #ddd; }

	.covProc table { margin-top: 10pt; margin-bottom: 10pt; }

	ion-grid {
		margin: -5pt;
	}
}
